
.DS_Store

## User-defined
ffmpeg-kit-ios-audio/
ffmpeg-kit-ios-audio/*

## User settings
xcuserdata/

## Cocoa Pods
Pods/*
Podfile.lock
*.xcworkspace

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
